html{
    scroll-behavior: smooth;
}

body{
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
}


.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700px;
}

.buttons a{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif;
}

.buttons{
    background-color: #ffffff66;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    left: 33%;
}

.but a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    font-family: sans-serif;
    background-color: #485C11;
    padding: 15px 25px;
    border-radius: 30px;
}

.but a:hover{
    background-color: #848f70;
    transition: 0.5s all;
}

.section{
    margin-top: -50px;
}

.section h1{
    font-size: 140px;
    text-align: center;
    font-weight: 500;
}

.section .rectangle{
    width: 100%;
    height: 350px;
    background-color: #8E9C78;
    margin: auto;
    margin-top: 200px;
    border-radius: 30px;
}

.section img{
    width: 70%;
    height: 70%;
    position: absolute;
    left: 200px;
    top: 347px;
    border-radius: 40px;
    border: 20px black solid;
    border-bottom: none;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.Trusted p{
    margin-top: 50px;
    color: #494949;
}

.Trusted .logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 90px;
}  

.Benefits p{
    color: #485C11;
    margin-top: 70px;
}

.Benefits h1{
    font-size: 55px;
}

.Benefits .p2{
    color: #6F6F6F;
    margin-top: 50px;
}

.container{
    display: flex;
}

.container .item p{
    color: #6F6F6F;
    margin-top: 30px;
}

.item i{
    margin-top: 40px;
}

.item{
    margin-left: 20px;
    margin-right: 20px;
}

.Benefits img{
    width: 100%;
    height: 600px;
    border-radius: 30px;
    margin-top: 80px;
}

.container1{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.container1 .imge img{
    border-radius: 30px;
    height: 600px;
    width: 600px;
    margin-right: 20px;
}

.specifics{
    margin-right: 30px;
}

.specifics h1{
    margin-top: 50px;
    font-size: 50px;
}

.p1{
    font-size: 17px;
    color: #6F6F6F;
    margin-bottom: 50px;
}

.numbers{
    list-style: none;
    counter-reset: my-counter; 
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
}

.numbers li{
    counter-increment: my-counter;   
    display: flex;
    gap: 15px;
    padding: 12px 0;
    font-size: 15px;
    color: #333;
}

.numbers li::before{
  content: counter(my-counter, decimal-leading-zero);
  font-weight: 600;
  color: #555;
  width: 30px;  
}

.specifics a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    font-family: sans-serif;
    background-color: #DFECC6;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 600;
}

.specifics a:hover{
    color: rgb(255, 255, 255);
    background-color: #848f70;
    transition: 0.5s all;
}

.Specs h4{
    color: #485C11;
    text-align: center;
    margin-top: 70px;
}

.Specs h1{
    text-align: center;
    font-size: 50px;
}

.Specs p{
    color: #6F6F6F;
    text-align: center;
    max-width: 700px;
    margin: auto;
}

.Specs a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    font-family: sans-serif;
    background-color: #DFECC6;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 600;
    display: table;
    text-align: center;
    margin: auto;
    margin-top: 35px;
}

.Specs a:hover{
    color: rgb(255, 255, 255);
    background-color: #848f70;
    transition: 0.5s all;
}

.container2{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container2 h2{
    text-align: center;
}

.con1{
    width: 33.333%;
    box-shadow: 3px 3px 8px rgb(184, 184, 184);   
    border-radius: 20px; 
}

.con2{
    width: 33.333%;
    border-right: 1px rgb(216, 216, 216) solid;
    border-bottom: 1px rgb(216, 216, 216) solid;
}

.con3{
    width: 33.333%;
}

.container2 p{
    margin: 30px 30px;
}

.container3{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container3 img{
    border-radius: 30px;
    width: 50%;
    height: 650px;
}

.container3 .p{
    font-size: 40px;
    font-weight: 600px;
    max-width: 600px;
    padding: 90px;
}

.map{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map h1{
    font-size: 50px;
}

.map a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    font-family: sans-serif;
    background-color: #DFECC6;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 600;
    display: table;
    text-align: center;
    margin-top: 35px;
}

.map a:hover{
    color: rgb(255, 255, 255);
    background-color: #848f70;
    transition: 0.5s all;
}

.container4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.con01{
    width: 32%;
}

.con02{
    width: 32%;
}

.con03{
    width: 32%;
    margin-top: -18px;
}

.container4 h1{
    font-size: 80px;
    color: #929292;
}

.img5{
    margin-top: 120px;
    width: 100%;
    border-radius: 30px;
}

.Contact-Us h1{
    text-align: center;
    font-size: 50px;
}

.Contact-Us p{
    text-align: center;
    margin: auto;
    color: #6F6F6F;
    max-width: 600px;
}

.Contact-Us a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    background-color: #485C11;
    padding: 15px 200px;
    border-radius: 30px;
    text-align: center;
    display: block;
    margin: 50px 350px;
}

.Contact-Us a:hover{
    background-color: #848f70;
    transition: 0.5s all;
}

.footer a{
    margin-right: 30px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.finish{
    display: flex;
    align-items: center;
}